<div class="container">
    
    <p class="fs-1">L'équipement</p>

    <h1 style="margin-top: 50px">LA TENUE DE PRATIQUE : JUDOGI</h1>

    <img src="../../assets/images/blackbelt.jpg" alt="Shodan, la ceinture noire"/>
    <p>&nbsp;</p>
    <img src="../../assets/images/judogui.jpg" alt="Judogui: la tenue de pratique" align="right"/>
    <p>Les pratiquants du Judo sont des judokas. Ces derniers portent pour leurs pratiques des JUDOGI appelés couramment de nos jours, Kimono. La tenue est généralement blanche mais elle peut aussi être bleue. Elle est particulièrement en vigueur lors des compétitions afin  de distinguer les combattants.</p>

    

    <p>La veste du judogi est tissée d’un coton assez épais et solide contrairement au pantalon. Le judogi doit toujours être propre et soigné. La veste est tenue par une ceinture dont la couleur désigne le grade du judoka.</p>

    <p>La technique de noeud pour une bonne tenue de la veste s’acquière au fil des pratiques. Les hommes sont torse nu sous leur veste alors que les femmes portent un tee-shirt blanc.</p>

    <p>Le Judo se pratique pieds nus. En dehors du tatami, une paire de sandales japonaises, les ZOORI est généralement utilisée. Cet élément n’est cependant pas du tout obligatoire : une sandale quelconque est suffisante actuellement.</p>

    

    <h1 style="margin-top: 50px">CEINTURE ET PASSAGE DE GRADE</h1>
    <p>Jusqu’à la ceinture marron incluse, le passage de passage de grade se déroule en général à la fin de la saison avec son professeur. Le Judoka doit démontrer sa maîtrise de techniques enseignées durant la saison sportive. Ces techniques sont à effectuer avec un partenaire : Tori, celui qui saisit, et Uke celui qui « reçoit » l’action de son partenaire.</p>

    <p>Les ceintures de couleurs ont été inventées en Angleterre au milieu des années 1920 puis introduites en France par le professeur Mikinosuke Kawaishi. On trouve dans l’ordre les ceintures : blanche, jaune, orange, verte, bleue, marron (la ceinture violette a été retirée depuis la mise en place des ceintures bicolores : blanche-jaune, jaune-orange, orange-verte, verte-bleue) ; la ceinture verte-bleue a été abandonnée lors du passage de l’âge requis de 16 ans à 15 ans pour l’obtention du 1er dan) et la fameuse ceinture noire ainsi que deux ceintures supérieures : une rouge et blanche du 6e au 8e dan, une rouge pour 9e et 10e dan Symboliquement donné à Jigoro Kano, le fondateur du judo, après sa mort.</p>

    <p>Une ceinture particulière, la ceinture blanche large, couleur des débutants, pour signifier que l’on n’a jamais tout appris. Il existe aussi des grades alternatifs pour évaluer et récompenser les plus jeunes (blanche-jaune, jaune-orange, orange-verte), on trouve aussi, dans la catégorie éveil-judo, les ceintures blanches à 1 ou 2 « lisérés » horizontaux. Il se peut aussi d’avoir des barrettes à la place d’une ceinture blanche-jaune. Ce qui donne une ceinture blanche avec une barrette jaune à coudre, ainsi de suite jusque parfois trois barrettes (en Belgique).</p>


    <table class="table table-striped">
        <thead>
            <th>Grade</th>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Répresentation</th>
        </thead>
        <tbody>
            <tr>
                <td>9 kyu</td>
                <td>Ku-kyu</td>
                <td>Blanche</td>
                <td><img src="../../assets/images/75px-Ceinture_blanche.png" /></td>
            </tr>
            <tr>
                <td>8 kyu</td>
                <td>Hachi-kyu</td>
                <td>Blanche-jaune</td>
                <td><img src="../../assets/images/75px-Ceinture_blanc_jaune.png" /></td>
            </tr>
            <tr>
                <td>7 kyu</td>
                <td>Sichi-kyu</td>
                <td>Jaune</td>
                <td><img src="../../assets/images/75px-Ceinture_jaune.png" /></td>
            </tr>
            <tr>
                <td>6 kyu</td>
                <td>Roku-kyu</td>
                <td>Jaune-orange</td>
                <td><img src="../../assets/images/75px-Ceinture_jaune_orange.png" /></td>
            </tr>
            <tr>
                <td>5 kyu</td>
                <td>Go-kyu</td>
                <td>Orange</td>
                <td><img src="../../assets/images/75px-Ceinture_orange.png" /></td>
            </tr>
            <tr>
                <td>4 kyu</td>
                <td>Shi-kyu</td>
                <td>Verte-orange</td>
                <td><img src="../../assets/images/75px-Ceinture_orange_verte.png" /></td>
            </tr>
            <tr>
                <td>3 kyu</td>
                <td>San-kyu</td>
                <td>Verte</td>
                <td><img src="../../assets/images/75px-Ceinture_verte.png" /></td>
            </tr>
            <tr>
                <td>2 kyu</td>
                <td>Ni-kyu</td>
                <td>Bleue</td>
                <td><img src="../../assets/images/75px-Ceinture_bleue.png" /></td>
            </tr>
            <tr>
                <td>1 kyu</td>
                <td>Ichi-kyu</td>
                <td>Marron</td>
                <td><img src="../../assets/images/75px-Ceinture_marron.png" /></td>
            </tr>
        </tbody>
    </table>

</div>