
<main class="form-signin">
  <form>
    <img class="mb-4" src="../../assets/images/Logo.png" alt="" width="72"> 
    <h1 class="h3 mb-3 fw-normal">Connection</h1>

    <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="nom@exemple.com">
    <label for="floatingInput">Adresse courriel</label>
    </div>
    <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe">
    <label for="floatingPassword">Mot de passe</label>
    </div>

    <div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Souvenez de moi
    </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021 </p>
  </form>
</main>
