<div class="container">

    <p class="fs-1">Le club</p>

    <h1>L'entraîneur</h1>
    
    <div class="row" style="margin-top:30">
        <div class="col-sm-6">
            <img src="../../assets/images/Minotauro.jpg" width="500"/>        
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Minotauro Nogueira </h5>
              <p class="card-text">Minoutauro est un athelete avec une expérience inoui dans la discipline du Judo. Il a obtenu son grade depouis 1989, directement des mains de sensei Hiroshi Takamura, le judoka le plus haute gradé vivant à son époque. </p>
              <p class="card-text">Depuis presque une vingtaine d'années, Minotauro se dédie à l'enseignement et à la divulgation de l'Art Souple. À partir de 2020, il établi le Club de Judo de Québec dans la Vieille Capitale pour y faire la création d'un noyau pour entrainer une équipe olympique. </p>
              <!-- a href="#" class="btn btn-primary">Sol</a -->
            </div>
          </div>
        </div>
      </div>

      <h1>L'entraîneur assistant</h1>
      <div class="row" style="margin-top:30">
        <div class="col-sm-6">
            <img src="../../assets/images/Yuri.jpeg" width="500"/>        
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Yuri Gagarin</h5>
              <p class="card-text">Issu de l'école de defense personnelle de la KGB, le capitaine Yuri Gagarin a reçu son shodan dans la même coorte que le président Vladimir Putin, à l'Académie des Arts Martiaux de Leningrad.  </p>
              <p class="card-text">Pratiquant de la discipline obscure et mortelle des Yoko-kombucha, Yuri a des enseignements exclusifs qu'il apprendra à tout disciple qui prouve sa valeur.  </p>
              <!-- a href="#" class="btn btn-primary">Sol</a -->
            </div>
          </div>
        </div>
      </div>

</div>
