<div class="container" style="margin-top: 55px;">

    <p class="fs-1">{{pageTitle}}</p>

    <div class="text-center">
      <img src="../../assets/images/Logo.png"
      class="img-responsive center-block" 
      style="max-height:300px;padding-bottom:50px;" />      
    </div>
    
    <div class="container">
      <p class="fs-2">Mieux connaître le Dojo du Club de Judo de Québec et ses arts martiaux japonais</p>

      <p>‘’Les arts martiaux, une des plus belles inventions du Japon!’’</p>

      <p>La formation des personnes est la mission première du Dojo de du Club de Judo de Québec. Au-delà des pratiquantes et pratiquants, des championnes et champions, des dirigeantes et dirigeants, des enseignantes et enseignants, nous devons former des personnes libres, autonomes et responsables appliquant le code moral du judo et des arts martiaux japonais.</p>

      <p class="fs-2">L’enseignement</p>

      <p>Les enseignantes et enseignants du Dojo de Beauport sont diplômés (ées) de leur fédération respective, ils transmettent leurs valeurs et connaissances.</p>

      <p>En pédagogie, la progression repose sur l’entraide et leur pratique nécessite d’avoir un ou une partenaire que l’on respecte pour progresser. C’est l’enseignante ou enseignant qui transmettra les bases techniques des disciplines. Cette formation permettra ensuite à chacune et chacun de se perfectionner et de développer une technique personnelle et efficace, en découvrant le plaisir de pratiquer les différentes formes de déplacements, de contrôles, de clés, d’étranglements et de projections, etc.</p>

      <p>Le Dojo vous garantie une solide formation de base et un espace sécuritaire pour les pratiquantes et pratiquants permettant de progresser tout au long de sa vie dans l’apprentissage des arts martiaux.</p>

      <p>Les ceintures symbolisent la progression de l’élève et sont délivrées par l’enseignante ou l’enseignant jusqu’à la ceinture marron. Ensuite, un examen officiel tenu par la fédération permet d’obtenir la prestigieuse ceinture noire ! Ce grade, dans les arts martiaux, ne représente pas uniquement la progression technique, il témoigne également de l'intégration d'un code de valeurs et d'un savoir-être qui constituent une discipline de vie, soit :</p>

      <ul>
        <li>Les valeurs morales</li>
        <li>L'habileté technique</li>
        <li>Les capacités physiques</li>
      </ul>

      <p class="fs-2">Arts martiaux</p>

      <p>Méthode d’éducation qui contribue à l’épanouissement physique et moral de la personne. C’est également un sport olympique pour le judo. Ces disciplines peuvent être pratiquées à partir de l’âge de 5 ans et jusqu’à plus de 70 ans!</p>
      
      <p>Chacune et chacun peut s’épanouir pleinement grâce à un entraînement adapté (pour les non-voyants également) et devenir ceinture noire!</p>
    </div>
    
    <p>&nbsp;</p>
    <div class="card" style="margin-top:30">
      <div class="card-header" >
        Contact
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row" style="margin-top:30">
            <div class="col-sm-4">
              <form>
                <h2 class="h3 mb-3 fw-normal">Contact</h2>
            
                <div class="form-floating">
                  <input type="nom" class="form-control" id="floatingNom" placeholder="Prénom et nom * ">
                  <label for="floatingNom">Nom</label>

                </div>
                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInput" placeholder="nom@exemple.com * ">
                  <label for="floatingInput">Adresse courriel</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingSujet" placeholder="Sujet">
                  <label for="floatingSujet">Sujet</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingMessage" placeholder="Message * ">
                  <label for="floatingMessage">Message</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" (click)='onClick()'>Envoyer</button>
              </form>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6 ">
              <p><i>Mieux encore, venez nous voir en personne !</i></p>
              <p>Vous désirez faire un essai? Présentez-vous au Dojo du Centre sportif de l'Université du Japon à Québec selon nos horaires de pratique!</p>

              <p><b>Club de Judo de Québec</b></p>
              <p>Dojo du centre Sportif, Université du Japon à Québec, 205 rte. sensei Jigoro-Kano, Québec, Qc, G1W 1C8</p>

              <p>(581) 307-7882</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
</div>
