
<div class="container">
    <h1 style="margin-top: 50px">Le Judo</h1>
    <h2>HISTOIRE DU JUDO</h2>

    <p>Le Judo est défini comme étant une pédagogie physique, morale et mentale par  son fondateur, Jigoro Kano (1860-1938), en 1882.  Il est catégorisé comme un art martial moderne qui a évolué en sport de combat et en sport Olympique.</p>

    <p>Judo est composé de deux Kanjis (caractère japonais) signifiant : souplesse, adaptation (Ju) et voie, principe (do).</p>

    <img src="../../assets/images/Judo.png" />

    <p>Littéralement cela signifierait : Voie de souplesse ou principe de l’adaptation.</p>

    <p>Le souhait de Jigoro Kano était de populariser une méthode visant à mieux utiliser ses ressources physiques et mentales. La légende raconte qu’il se serait inspiré du spectacle des arbres couverts de neige lors d’hiver rigoureux :  en effet, les branches du cerisier réagissaient bien différemment des roseaux. En réalité cette légende remontrait davantage  au temps de la création du ju-jitsu  donc bien avant le  judo. Toujours est-il que la notion de souplesse viendrait de là.</p>

    <p>Quoi qu’il en soit, Jigoro Kano avait conscience que le ju-jitsu, tel qu’il était pratiqué n’était plus adapté à l’époque moderne. Les techniques étaient parfois très dangereuses à apprendre et la plupart des maîtres n’étaient pas très pédagogues ou enseignaient un ju-jitsu décadent et inefficace.</p>

    <img src="../../assets/images/Kano_Jigoro.jpg" />

    <p>Ainsi, en s’inspirant des méthodes de différentes gymnastiques occidentales, Jigoro Kano décida d’épurer du jujitsu les mouvements dangereux et de codifier les techniques restantes afin de faciliter l’enseignement sous formes de kata.  Le judo était né.</p>

    <p>Le judo connut un succès qui s’étendit largement au-delà des frontières japonaises et contribua largement à populariser les arts martiaux japonais, tout en entraînant la confusion entre art martial et sport de combat. Ainsi, le judo des origines s’orienta de plus en plus vers l’aspect sportif lorsque les champions du Kodokan (premiers élèves) eurent définitivement battu la plupart des écoles de ju-jitsu au cours des combats organisés. Le pouvoir économique du Kodokan était ainsi définitivement installé dans le monde des arts martiaux japonais.</p>

    <ul>
        <li>1882, le judo commence à être enseigné au Japon au Kodokan en France par maître Mikinosuke Kawaishi (1899-1969) et maître Shozo Awazu (1923-2016). </li>
        <li>1936, Moshe Feldenkrais (1904-1984) crée le 1er club de Judo en France le Jujitsu-</li>
        <li>1946, Paul Bonet-Maury fonde la Fédération française de judo et de jiu-jitsu (FFJJJ) dont il en sera le 1er président. Il se  sépare ainsi de la Fédération française de lutte qui deviendra par la suite la Fédération française de judo-jujitsu, kendo et disciplines associées</li>
        <li>En 1947, Jean de Herdt fonde le Collège des Ceintures Noires de judo dont le 1er président élu fut Jean Andrivet. C’est aussi à cette époque que se développera le côté sportif du Judo et qu’apparaitront les premières compétitions. Le nombre de pratiquants de par le monde s’accroît alors considérablement.</li>
        <li>1964, introduction du Judo masculin aux J.O de Tôkyô</li>
        <li>1972, le Judo est définitivement admis aux J.O de Munich.</li>
        <li>1988, le Judo féminin est présent seulement en tant que démonstration aux J.O à Séoul.</li>
        <li>1992, le judo féminin est totalement introduit au programme des J.O.</li>
    </ul>
    <p>Dans le monde, le Judo est  le troisième art martial le plus pratiqué derrière le karaté et le taekwondo avec 8 millions de pratiquants. </p>

    <h1 style="margin-top: 50px">LE CODE D’HONNEUR DU JUDOKA</h1>
    <p>Au judo, les valeurs morales sont plus importantes que la technique elle-même. C’est un mode de vie. Tout en développant des qualités physiques, il met aussi en valeur des qualités psychologiques et sociales. Ces valeurs inculquent au Judoka l’accueil  positif des obstacles et défis qui se présentent à lui tout au long de sa vie.</p>

    <ul>
    <li>La politesse :   respect d’autrui, du matériel et de soi.</li>
    <li>Le courage :  faire ce qui est juste.</li>
    <li>La sincérité : s’exprimer sans déguiser sa pensée.</li>
    <li>L’honneur : être fidèle à la parole donnée.</li>
    <li>La modestie : parler de soi-même sans orgueil.</li>
    <li>Le respect : sans respect aucune confiance ne peut naître.</li>
    <li>Le contrôle de soi : savoir se taire lorsque monte sa colère.</li>
    <li>L’amitié :  le plus pur et le plus fort des sentiments humains.</li>
    </ul>

    <h1 style="margin-top: 50px">RITUELS : SALUTS</h1>
    <p>Le salut est de rigueur à chaque accès et sortie du TATAMI. Le Judoka a le devoir de saluer son professeur, d’abord à genoux puis debout, avant le cours et à la fin du cours. Les saluts sont les marques la plus visibles du respect qui régit le judo. Ce salut signifie la dignité et la paix intérieure avant comme après le combat. Il annonce aussi le respect des règles ainsi que la droiture et la sincérité. Le judoka devrait saluer lentement, gravement et faire en sorte de montrer le respect à celui qu’il salue. Il en existe plusieurs :</p>
    <ul>
        <li>Ritsurei – salut debout : On salue en pliant le haut du corps à 30°, les talons joints, le regard en avant, les mains sur la face externe des cuisses. On reste trois secondes avant de se redresser. Ce salut s’adresse au partenaire.</li>
        <li>Zarei – salut à genoux : À partir de la position debout, le judoka se met à genoux en posant d’abord le genou gauche puis celui de droite. Il y a un écart entre le genou gauche et droit. Le judoka s’assied sur ses talons, salue et se relève d’abord avec le pied droit. Ce salut se place au début et à la fin d’un cours collectif, dans les kata et le travail au sol (Ne-waza) et s’adresse au partenaire.</li>
        <li>Salut du tatami : Sur le bord du tatami, salut afin de montrer le respect envers la surface de travail sur laquelle le travail va s’effectuer.</li>
        <li>Salut en ligne : Au début du cours le salut à la photo du maître Kano afin d’honorer sa mémoire et le remercier pour la transmission de son enseignement. Le salut aux professeurs afin de montrer notre respect, et les remercier du temps qu’ils vont nous consacrer. Fin du cours : remerciement aux professeurs pour l’enseignement qu’ils nous ont dispensé.</li>
        <li>Salut individuel – Avant et après le travail en binôme : Montrer le respect à notre partenaire (ou adversaire en compétition) et remerciement pour le travail qu’il nous a permis de réaliser.</li>
    </ul>

    <h1 style="margin-top: 50px">LA TENUE DE PRATIQUE : JUDOGI</h1>
    <p>Les pratiquants du Judo sont des judokas. Ces derniers portent pour leurs pratiques des JUDOGI appelés couramment de nos jours, Kimono . La tenue est généralement blanche mais elle peut aussi être bleue. Elle est particulièrement en vigueur lors des compétitions afin  de distinguer les combattants.</p>

    <p>La veste du judogi est tissée d’un coton assez épais et solide contrairement au pantalon. Le judogi doit toujours être propre et soigné. La veste est tenue par une ceinture dont la couleur désigne le grade du judoka.</p>

    <p>La technique de noeud pour une bonne tenue de la veste s’acquière au fil des pratiques. Les hommes sont torse nu sous leur veste alors que les femmes portent un tee-shirt blanc.</p>

    <p>Le Judo se pratique pieds nus. En dehors du tatami, une paire de sandales japonaises, les ZOORI est généralement utilisée. Cet élément n’est cependant pas du tout obligatoire : une sandale quelconque est suffisante actuellement.</p>


    <h1 style="margin-top: 50px">CEINTURE ET PASSAGE DE GRADE</h1>
    <p>Jusqu’à la ceinture marron incluse, le passage de passage de grade se déroule en général à la fin de la saison avec son professeur. Le Judoka doit démontrer sa maîtrise de techniques enseignées durant la saison sportive. Ces techniques sont à effectuer avec un partenaire : Tori, celui qui saisit, et Uke celui qui « reçoit » l’action de son partenaire.</p>

    <p>Les ceintures de couleurs ont été inventées en Angleterre au milieu des années 1920 puis introduites en France par le professeur Mikinosuke Kawaishi. On trouve dans l’ordre les ceintures : blanche, jaune, orange, verte, bleue, marron (la ceinture violette a été retirée depuis la mise en place des ceintures bicolores : blanche-jaune, jaune-orange, orange-verte, verte-bleue) ; la ceinture verte-bleue a été abandonnée lors du passage de l’âge requis de 16 ans à 15 ans pour l’obtention du 1er dan) et la fameuse ceinture noire ainsi que deux ceintures supérieures : une rouge et blanche du 6e au 8e dan, une rouge pour 9e et 10e dan Symboliquement donné à Jigoro Kano, le fondateur du judo, après sa mort.</p>

    <p>Une ceinture particulière, la ceinture blanche large, couleur des débutants, pour signifier que l’on n’a jamais tout appris. Il existe aussi des grades alternatifs pour évaluer et récompenser les plus jeunes (blanche-jaune, jaune-orange, orange-verte), on trouve aussi, dans la catégorie éveil-judo, les ceintures blanches à 1 ou 2 « lisérés » horizontaux. Il se peut aussi d’avoir des barrettes à la place d’une ceinture blanche-jaune. Ce qui donne une ceinture blanche avec une barrette jaune à coudre, ainsi de suite jusque parfois trois barrettes (en Belgique).</p>


    <table class="table table-striped">
        <thead>
            <th>Grade</th>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Répresentation</th>
        </thead>
        <tbody>
            <tr>
                <td>9 kyu</td>
                <td>Ku-kyu</td>
                <td>Blanche</td>
                <td><img src="../../assets/images/75px-Ceinture_blanche.png" /></td>
            </tr>
            <tr>
                <td>8 kyu</td>
                <td>Hachi-kyu</td>
                <td>Blanche-jaune</td>
                <td><img src="../../assets/images/75px-Ceinture_blanc_jaune.png" /></td>
            </tr>
            <tr>
                <td>7 kyu</td>
                <td>Sichi-kyu</td>
                <td>Jaune</td>
                <td><img src="../../assets/images/75px-Ceinture_jaune.png" /></td>
            </tr>
            <tr>
                <td>6 kyu</td>
                <td>Roku-kyu</td>
                <td>Jaune-orange</td>
                <td><img src="../../assets/images/75px-Ceinture_jaune_orange.png" /></td>
            </tr>
            <tr>
                <td>5 kyu</td>
                <td>Go-kyu</td>
                <td>Orange</td>
                <td><img src="../../assets/images/75px-Ceinture_orange.png" /></td>
            </tr>
            <tr>
                <td>4 kyu</td>
                <td>Shi-kyu</td>
                <td>Verte-orange</td>
                <td><img src="../../assets/images/75px-Ceinture_orange_verte.png" /></td>
            </tr>
            <tr>
                <td>3 kyu</td>
                <td>San-kyu</td>
                <td>Verte</td>
                <td><img src="../../assets/images/75px-Ceinture_verte.png" /></td>
            </tr>
            <tr>
                <td>2 kyu</td>
                <td>Ni-kyu</td>
                <td>Bleue</td>
                <td><img src="../../assets/images/75px-Ceinture_bleue.png" /></td>
            </tr>
            <tr>
                <td>1 kyu</td>
                <td>Ichi-kyu</td>
                <td>Marron</td>
                <td><img src="../../assets/images/75px-Ceinture_marron.png" /></td>
            </tr>
        </tbody>
    </table>

    





</div>