<div class="container">

    <p class="fs-1">Cours offerts à la session d'automne</p>

    <div class="spacer">&nbsp;</div>
    <div class="row" style="margin-top:30">    
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cours pour enfants</h5>
              <img src="../../assets/images/Enfants.jpg" width="1200">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Enfants</a>
            </div>
          </div>
        </div>
      </div>

      <div class="spacer">&nbsp;</div>
      <div class="row" style="margin-top:30">
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Entraînement de Judo</h5>
                <img src="../../assets/images/EntJudo.jpeg" width="310">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Judo</a>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Entrainement de sol </h5>
              <img src="../../assets/images/Sol.jpg" width="300">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Sol</a>
            </div>
          </div>
        </div>
      </div>

    <div class="spacer">&nbsp;</div>
    <div class="row" style="margin-top:30">    
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Préparation au Shodan</h5>
              <img src="../../assets/images/PreparationShodan.jpg" class="img-responsive center-block" width="600">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Shodan</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <img src="../../assets/images/PreparationCompetition.jpeg" class="img-responsive center-block" width="300">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Compétition</a>
            </div>
          </div>
        </div>
      </div>
</div>